Search List

<ul *ngIf="suggestions$ | async as suggestions">
  <ng-container *ngIf="suggestions.suggestions">
    <li *ngFor="let suggestion of suggestions.suggestions">
      <ul>
        <li>
          <strong>Name: </strong><span>{{ suggestion.name }}</span>
        </li>
        <li>
          <strong>Full Address: </strong
          ><span>{{ suggestion.full_address }}</span>
        </li>
        <li>
          <strong>Place Formatted: </strong>
          <span>{{ suggestion.place_formatted }}</span>
        </li>
      </ul>
    </li>
  </ng-container>
</ul>
